@using E_Learning.Helper
@model E_Learning.Models.Default
<div class="form-group">
    <cus-editor asp-for="Description"></cus-editor>
    <cus-button text="Lưu dữ liệu" class="btn btn-success"></cus-button>
</div>