@{
    ViewData["Title"] = "Home Page";
}
<style>
    .image-wrapper {
        background-color:#fff0eb; 
        padding: 70px 10px 70px 10px;
        border-bottom-right-radius: 40px;
        transition: background-color 0.3s ease;
    }

    .image-wrapper img {
        display: block;
        margin: 0 auto;
    }

    .main-images > div {
        display: none;
    }

    .main-images > div.active {
        display: block;
        min-height: 550px;
    }

    .col-right {
        position: relative;
        margin: 0 auto;
    }

    .home .col-right .img-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 8px;
    }

    .home .col-right .img-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .home .col-right .img-wrapper span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        border-radius: 8px;
        opacity: 0;
        transition: all 0.4s ease;
        pointer-events: none;
    }

    .home .col-right .img-wrapper:hover span {
        opacity: 1;
    }
</style>

<div class="home">
    <div class="list-item-img row">
        <div class="col-md-7 col-left main-images image-wrapper" id="imageWrapper">
            <div class="active">
                <img src="/img/logo/hero-title.svg" width="561" height="54" alt="none" />
                <img src="/img/logo/logo-homepage-main.svg" width="680" height="440" alt="none">
            </div>
            <div>
                <img src="/img/logo/speakingthumbnail.svg" width="561" height="54" alt="none" />
                <img src="/img/logo/item-img-main-01.png" width="680" height="440" alt="none" />
            </div>
            <div>
                <img src="/img/logo/writingthumbnail.svg" width="561" height="54" alt="none" />
                <img src="/img/logo/item-img-main-02.png" width="680" height="440" alt="none" />

            </div>
            <div>
                <img src="/img/logo/readingthumbnail.svg" width="561" height="54" alt="none" />
                <img src="/img/logo/item-img-main-03.png" width="680" height="440" alt="none" />
            </div>
            <div>
                <img src="/img/logo/listeningthumbnail.svg" width="561" height="54" alt="none" />
                <img src="/img/logo/item-img-main-04.png" width="680" height="440" alt="none" />
            </div>
        </div>

        <div class="col-md-4 col-right d-flex align-items-center">
            <div class="row g-4">
                <div class=" fw-bold fs-4 mx-3">
                    Lựa chọn kỹ năng để luyện tập
                </div>
                <div class="col-6">
                    <div class="ratio ratio-1x1 img-wrapper" data-bg="#e5f9f9">
                        <img src="/img/logo/item-img-01.svg" alt="none" data-index="1" />
                        <span class="fw-bold d-flex align-items-center justify-content-center fs-4">Luyện tập ngay</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="ratio ratio-1x1 img-wrapper" data-bg="#eeeefb">
                        <img src="/img/logo/item-img-02.svg" alt="none" data-index="2" />
                        <span class="fw-bold d-flex align-items-center justify-content-center fs-4">Luyện tập ngay</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="ratio ratio-1x1 img-wrapper" data-bg="#ffecf0">
                        <img src="/img/logo/item-img-03.svg" alt="none" data-index="3" />
                        <span class="fw-bold d-flex align-items-center justify-content-center fs-4">Luyện tập ngay</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="ratio ratio-1x1 img-wrapper" data-bg="#ffedd1">
                        <img src="/img/logo/item-img-04.svg" alt="none" data-index="4" />
                        <span class="fw-bold d-flex align-items-center justify-content-center fs-4">Luyện tập ngay</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const highlight = document.getElementById("highlight");
    const wrappers = document.querySelectorAll(".col-right .img-wrapper");
    const bigImages = document.querySelectorAll(".main-images > div");
    const imageWrapper = document.getElementById("imageWrapper");

    bigImages.forEach(img => img.classList.remove("active"));
    bigImages[0].classList.add("active");

    wrappers.forEach(wrapper => {
    const thumb = wrapper.querySelector("img");
    const index = parseInt(thumb.dataset.index);
    const bgColor = wrapper.getAttribute("data-bg");

    wrapper.addEventListener("mouseenter", function () {
        bigImages.forEach(div => div.classList.remove("active"));
        if (bigImages[index]) {
            bigImages[index].classList.add("active");
        }
        imageWrapper.style.backgroundColor = bgColor;
        imageWrapper.style.borderBottomRightRadius = "40px";

        const top = wrapper.offsetTop + wrapper.offsetHeight + 5;
        const left = wrapper.offsetLeft;
        highlight.style.width = wrapper.offsetWidth + "px";
    });

    wrapper.addEventListener("mouseleave", function () {
        bigImages.forEach(div => div.classList.remove("active"));
        bigImages[0].classList.add("active");
    });
});
</script>
