@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
<div class="container-fluid pb-5 hero-header bg-light mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center mb-5">
            <div class="col-lg-6">
                <h1 class="display-1 mb-4 animated slideInRight">
                    
                    <span class="text-primary">NextBand</span>
                    English for your next level.
                </h1>
                <h5 class="d-inline-block border border-2 border-white py-3 px-5 mb-0 animated slideInRight">
                    NHẬN TƯ VẤN NGAY
                </h5>
            </div>
            <div class="col-lg-6">
                <div class="owl-carousel header-carousel animated fadeIn">
                    <img class="img-fluid" src="/img/img-core/hero-slider-1.jpg" alt="">
                    <img class="img-fluid" src="/img/img-core/hero-slider-2.jpg" alt="">
                    <img class="img-fluid" src="/img/img-core/hero-slider-3.jpg" alt="">
                    <img class="img-fluid" src="/img/img-core/hero-slider-3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row g-5 animated fadeIn">
            <div class="col-md-6 col-lg-3">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                        <i class="fa fa-robot text-primary"></i>
                    </div>
                    <h5 class="lh-base mb-0">Crafted Furniture</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                        <i class="fa fa-robot text-primary"></i>
                    </div>
                    <h5 class="lh-base mb-0">Sustainable Material</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                        <i class="fa fa-robot text-primary"></i>
                    </div>
                    <h5 class="lh-base mb-0">Innovative Architects</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                        <i class="fa fa-robot text-primary"></i>
                    </div>
                    <h5 class="lh-base mb-0">Budget Friendly</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="/img/img-core/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid h-75" src="/img/img-core/about-2.jpg" alt="">
                        <div class="h-25 d-flex align-items-center text-center bg-primary px-4">
                            <h4 class="text-white lh-base mb-0">NextBand Studio Since 2025</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-5">
                    <span class="text-uppercase text-primary bg-light px-2">Sơ lược</span> về chúng tôi
                </h1>
                <p class="mb-4">
                    NEXTBAND là nền tảng học tiếng Anh trực tuyến, thiết kế hiện đại, dễ sử dụng và tập trung vào phát triển kỹ năng giao tiếp. NEXTBAND cung cấp giáo trình linh hoạt, video bài giảng chất lượng, các bài tập tương tác, cùng đội ngũ giáo viên bản xứ giàu kinh nghiệm. Học viên có thể học mọi lúc mọi nơi, theo tiến độ riêng, với mục tiêu nâng cao nghe, nói, phát âm và phản xạ tiếng Anh một cách tự nhiên và tự tin.
                </p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Giáo viên trình độ cao</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Đa dạng đề</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Hỗ trợ 24/7</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Nguồn tài liệu phong phú</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-5">
                    <a class="btn btn-primary px-4 me-2" href="#!">Xem thêm</a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-square border-2" href="#!">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="mb-5">
                Tại sao chọn <span class="text-uppercase text-primary bg-light px-2">chúng tôi</span>
            </h1>
        </div>
        <div class="row g-5 align-items-center text-center">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-calendar-alt fa-5x text-primary mb-4"></i>
                <h4>25+ Years Experience</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-tasks fa-5x text-primary mb-4"></i>
                <h4>Best Interior Design</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-pencil-ruler fa-5x text-primary mb-4"></i>
                <h4>Innovative Architects</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-user fa-5x text-primary mb-4"></i>
                <h4>Customer Satisfaction</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-hand-holding-usd fa-5x text-primary mb-4"></i>
                <h4>Budget Friendly</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-check fa-5x text-primary mb-4"></i>
                <h4>Sustainable Material</h4>
                <p class="mb-0">
                    Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor eirmod magna dolore erat amet
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Team Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <h1 class="mb-5">
            Giáo viên <span class="text-uppercase text-primary bg-light px-2">tiêu biểu</span>
        </h1>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/img/img-core/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <small class="mb-2">Ielts 7</small>
                        <h4 class="lh-base text-light">Boris Johnson</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/img/img-core/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <small class="mb-2">Ielts 7.5</small>
                        <h4 class="lh-base text-light">Donald Pakura</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/img/img-core/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <small class="mb-2">Ielts 8.5</small>
                        <h4 class="lh-base text-light">Bradley Gordon</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/img/img-core/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <small class="mb-2">Ielts 7.5</small>
                        <h4 class="lh-base text-light">Alexander Bell</h4>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-primary btn-sm-square border-2 me-2" href="#!">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm-square border-2 me-2" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm-square border-2 me-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm-square border-2 me-2" href="#!">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
