<footer class="border-top py-4">
    <div class="container-system">
        <div class="row">
            <div class="col-md-2 text-md-start mb-3 mb-md-0">
                <img class="mb-2" height="56" width="156" src="/img/logo/Logo-power.svg" alt="icon">
            </div>
            <div class="col-md-10">
                <ul class="list-unstyled mb-0">
                    <li class="mb-4 d-flex align-items-center">
                        <img style="margin-right: 15px; width: 1.25rem;" src="/img/icon/addres.svg" alt="" />
                        <p class="fw-bold" style="min-width: 75px">Địa chỉ</p>
                        @* <p>213/9 Nguyễn Gia Trí, Phường Thạnh Mỹ Tây, TP Hồ Chí Minh</p> *@
                    </li>
                    <li class="mb-4 d-flex align-items-center">
                        <img style="margin-right: 15px; width: 1.25rem;" src="/img/icon/zalo-icon.svg" alt="" />
                        <p class="fw-bold" style="min-width: 75px">Zalo</p>
                        @* <a href="https://zalo.me/youpass" target="_blank">https://zalo.me/youpass</a> *@
                    </li>
                    <li class="mb-4 d-flex align-items-center">
                        <img style="margin-right: 15px; width: 1.25rem;" src="/img/icon/phone-icon.svg" alt="" />
                        <p class="fw-bold" style="min-width: 75px">Hotline</p>
                        @* <a href="tel:0355232833">0355 232 833</a> *@
                    </li>
                    <li class="mb-4 d-flex align-items-center">
                        <img style="margin-right: 15px; width: 1.25rem;" src="/img/icon/youtube-icon.svg" alt="" />
                        <p class="fw-bold" style="min-width: 75px">Youtube</p>
                        @* <a href="https://www.youtube.com/" target="_blank">Youtube</a> *@
                    </li>
                    <li class="d-flex align-items-center">
                        <img style="margin-right: 15px; width: 1.25rem;" src="/img/icon/tiktok-icon.svg" alt="" />
                        <p class="fw-bold" style="min-width: 75px">Tiktok</p>
                        @* <a href="https://www.tiktok.com/" target="_blank">Tiktok</a> *@
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
