@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    font-size: 16px;
    font-family: Nunito, Nunito Fallback;
}

a {
    text-decoration: none !important;
    color: #2b3242 !important;
}

p {
    margin: 0 !important;
    color: #2b3242 !important;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding-top: 26px;
    padding-bottom: 26px;
}

.container-system {
    max-width: 1540px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.fs-7 {
    font-size: 0.875rem !important;
}
