@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    font-size: 16px;
    font-family: Nunito, Nunito Fallback;
}

a {
    text-decoration: none !important;
    color: #2b3242 !important;
}

p {
    margin: 0 !important;
    color: #2b3242 !important;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding-top: 26px;
    padding-bottom: 26px;
}

@media (min-width: 640px) {
    .container-system {
        width: 640px
    }
}

@media (min-width: 768px) {
    .container-system {
        width: 768px
    }
}

@media (min-width: 1024px) {
    .container-system {
        width: 1024px
    }
}

@media (min-width: 1280px) {
    .container-system {
        width: 1280px
    }
}

@media (min-width: 1440px) {
    .container-system {
        width: 1440px
    }
}

@media (min-width: 1536px) {
    .container-system {
        width: 1536px
    }
}

@media (min-width: 1920px) {
    .container-system {
        width: 1920px
    }
}

.container-system {
    margin-left: auto;
    margin-right: auto;
    width: 1540px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.text-orange {
    color: #ff6d3a;
}

.fs-7 {
    font-size: 0.875rem !important;
    line-height: 18px;
}

.fs-8 {
    font-size: 0.8125rem !important; 
}
