/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    font-size: 16px;
    font-family: Nunito, Nunito Fallback;
}

a {
    text-decoration: none !important;
    color: #2b3242 !important;
}

p {
    margin: 0 !important;
    color: #2b3242 !important;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding-top: 26px;
    padding-bottom: 26px;
}

@media (min-width: 640px) {
    .container-system {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container-system {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container-system {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container-system {
        max-width: 1280px
    }
}

@media (min-width: 1440px) {
    .container-system {
        max-width: 1440px
    }
}

@media (min-width: 1536px) {
    .container-system {
        max-width: 1536px
    }
}

@media (min-width: 1920px) {
    .container-system {
        max-width: 1920px
    }
}

@media (min-width: 2560px) {
    .container-system {
        max-width: 2560px
    }
}

.container-system {
    margin-left: auto;
    margin-right: auto;
    max-width: 1540px;
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.text-orange {
    color: #ff6d3a;
}

.fs-7 {
    font-size: 0.875rem !important;
    line-height: 18px;
}

.fs-8 {
    font-size: 0.8125rem !important; 
}

.ml-3{
    margin-left: 1rem;
}*/

/* Login button */
/*.btn-login {
    background-color: #e65100;
    color: #fff;
}

.btn-login:hover {
    background-color: #ff8a50;
}*/

/* Register button */
/*.btn-register {
    background-color: #00897b !important;
    color: #fff;
}

.btn-register:hover {
    background-color: #26a69a !important;
}

.modal-body a {
    color: #e65100 !important;*/ /* màu cam giống button login */
    /*text-decoration: none;*/ /* bỏ gạch chân mặc định */
    /*font-weight: 500;
    transition: color 0.3s ease;
}

.modal-body a:hover {
    color: #ff8a50 !important;*/ /* sáng hơn khi hover */
    /*text-decoration: underline;
}*/
