@using Ecommerce_Project.Helper
@model Ecommerce_Project.Models.Default
<div class="form-group">
    <cus-editor asp-for="Description"></cus-editor>
    <cus-button text="Lưu dữ liệu" class="btn btn-success"></cus-button>
</div>